Repository robertlinde/next-nest-turbo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, prettier --write

chore: adjust linter config
  apps/nestjs-backend/.xo-config.cjs
Due: none

chore: update scripts
  apps/nestjs-backend/package.json
  apps/nextjs-frontend/package.json
  package.json
  turbo.json
Due: prettier --write

ci(Fix CI #6): adjust ci
  .github/workflows/commitlint-lint-build.yml
  .github/workflows/test-test-cov.yml
  apps/nextjs-frontend/.github/workflows/commitlint-lint-build.yml
  package.json
  turbo.json
Due: prettier --write

ci(Fix CI #6): test ci failure
  apps/nestjs-backend/src/auth/auth.controller.spec.ts
Due: xo --fix, prettier --write

ci(Fix CI #6): test ci success again
  apps/nestjs-backend/src/auth/auth.controller.spec.ts
Due: xo --fix, prettier --write

docs(#7): adjust main docs to reflect the new structure
  README.md
Due: prettier --write

chore(Unify lint configs #4): unify lint config
  .xo-config.base.cjs
  apps/nestjs-backend/.xo-config.cjs
  apps/nextjs-frontend/.xo-config.cjs
Due: none

chore: adjust root gitignore
  .gitignore
Due: none

chore: removed unused file
  .npmrc
Due: none

chore(Dependency Dashboard #3): update package-lock
  package-lock.json
Due: prettier --write

ci: enable lock file maintenance for renovate
  renovate.json
Due: prettier --write

ci: increase node version for ci to 22
  .github/workflows/commitlint-lint-build.yml
  .github/workflows/test-test-cov.yml
Due: none

fix(Fix nest start:prod error #5): adjust start:prod path
  apps/nestjs-backend/package.json
Due: prettier --write

ci: fix renovate config
  renovate.json
Due: prettier --write

fix(Action Required: Fix Renovate Configuration #21): fix config
  renovate.json
Due: prettier --write

chore: set explicit versions for turbo
  package-lock.json
  package.json
Due: prettier --write

ci: fix renovate
  renovate.json
Due: prettier --write

ci: enable renovate auto merge
  renovate.json
Due: prettier --write

fix(Cleanup xo dependencies #27): put dependencies on root level
  apps/nestjs-backend/package.json
  apps/nextjs-frontend/package.json
  package-lock.json
  package.json
Due: prettier --write

docs: add licence
  LICENSE
Due: none

docs: update paths in readme
  README.md
Due: prettier --write

docs: update refs
  README.md
Due: prettier --write

docs: fix typo
  README.md
Due: prettier --write

fix(#34): fix renovate config
  renovate.json
Due: prettier --write

ci: update renovate config
  renovate.json
Due: prettier --write

fix: remove renovate
  renovate.json
Due: prettier --write

ci: re-add renovate
  renovate.json
Due: prettier --write

fix: disable lockfile maintenance
  renovate.json
Due: prettier --write

fix: try minimal renovate config
  renovate.json
Due: prettier --write

chore: offboard renovate
  renovate.json
Due: prettier --write

fix: remove renovate config
  renovate.json
Due: prettier --write

fix(Fix renovate config (again) #34): reset package-lock.json
  apps/nestjs-backend/package-lock.json
  apps/nextjs-frontend/package-lock.json
  package-lock.json
  package.json
Due: prettier --write

fix(Fix renovate config (again) #34): return to old config
  renovate.json
Due: prettier --write

fix(Fix renovate config (again) #34): renovate range strategy
  renovate.json
Due: prettier --write

chore(Set renovate range strategy to pin #62): use pin as range strategy
  renovate.json
Due: prettier --write

fix(Set renovate range strategy to pin #62): adjust ts-node
  apps/nestjs-backend/package.json
  package-lock.json
  package.json
Due: prettier --write

chore: enable renovate automerge
  renovate.json
Due: prettier --write

feat(Health checks using terminus #76): add health checks
  apps/nestjs-backend/package.json
  apps/nestjs-backend/src/app.module.ts
  apps/nestjs-backend/src/health/health.controller.spec.ts
  apps/nestjs-backend/src/health/health.controller.ts
  apps/nestjs-backend/src/health/health.module.ts
  package-lock.json
Due: xo --fix, prettier --write

test(Health checks using terminus #76): add test for health checks controller
  apps/nestjs-backend/src/health/health.controller.spec.ts
  apps/nestjs-backend/src/health/health.controller.ts
Due: xo --fix, prettier --write

test(FE Playwright tests #74): add playwright
  apps/nextjs-frontend/.github/workflows/playwright.yml
  apps/nextjs-frontend/.gitignore
  apps/nextjs-frontend/package.json
  apps/nextjs-frontend/playwright.config.ts
  apps/nextjs-frontend/tests/example.spec.ts
  package-lock.json
Due: xo --fix, prettier --write

Path conditions:
  xo --fix: any of: **/*.{js,ts,tsx,jsx}
  prettier --write: (any of: **/*.{js,ts,tsx,jsx}) or (any of: **/*.{json,md,css,html})
