Repository robertlinde/next-nest-turbo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["npm run format", "npm run lint:fix"],
  "*.{json,md,css,html}": ["npm run format"]
}

chore(Add field name to Zod error messages #190): improved error messages
  apps/nextjs-frontend/locales/de.json
  apps/nextjs-frontend/locales/en.json
Due: npm run format

chore(Unify wording #189): unified wording
  apps/nextjs-frontend/locales/de.json
  apps/nextjs-frontend/locales/en.json
Due: npm run format

feat(Add email localization #187): email localization
  apps/nestjs-backend/src/auth/auth.controller.ts
  apps/nestjs-backend/src/auth/auth.service.ts
  apps/nestjs-backend/src/email/email.service.ts
  apps/nestjs-backend/src/email/templates/confirm-user_de.hbs
  apps/nestjs-backend/src/email/templates/confirm-user_en.hbs
  apps/nestjs-backend/src/email/templates/request-password-reset_de.hbs
  apps/nestjs-backend/src/email/templates/request-password-reset_en.hbs
  apps/nestjs-backend/src/email/templates/two-factor-auth-code_de.hbs
  apps/nestjs-backend/src/email/templates/two-factor-auth-code_en.hbs
  apps/nestjs-backend/src/users/users.controller.ts
  apps/nestjs-backend/src/users/users.service.ts
  apps/nextjs-frontend/src/app/[locale]/(auth)/forgot-password/page.tsx
  apps/nextjs-frontend/src/app/[locale]/(auth)/login/components/login-credentials/login-credentials.component.tsx
  apps/nextjs-frontend/src/app/[locale]/(auth)/register/page.tsx
  apps/nextjs-frontend/src/app/[locale]/(auth)/reset-password/page.tsx
  apps/nextjs-frontend/src/hooks/use-auth-api/services/forgot-password.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/login-credentials.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/register.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/reset-password.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/types/forgot-password.params.type.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/types/login-credentials.params.type.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/types/register.params.type.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/types/reset-password.params.type.ts
Due: npm run format, npm run lint:fix

fix(Set up internationalization #182): fix params
  apps/nestjs-backend/src/users/users.controller.ts
Due: npm run format, npm run lint:fix

fix(Fix e2e tests #188): fix FE e2e tests
  apps/nextjs-frontend/tests/edit-profile.e2e.spec.ts
  apps/nextjs-frontend/tests/login.e2e.spec.ts
  apps/nextjs-frontend/tests/logout.e2e.spec.ts
  apps/nextjs-frontend/tests/reset-password.e2e.spec.ts
  apps/nextjs-frontend/tests/utils/login/login.ts
  apps/nextjs-frontend/tests/utils/register/register.ts
Due: npm run format, npm run lint:fix

chore(Fix e2e tests #188): throw proper error on wrong header
  apps/nestjs-backend/src/common/decorators/required-header.decorator.ts
  apps/nestjs-backend/src/email/email.service.ts
  apps/nextjs-frontend/playwright.config.ts
Due: npm run format, npm run lint:fix

feat(Set up internationalization #182): validate request headers
  apps/nestjs-backend/src/auth/auth.controller.ts
  apps/nestjs-backend/src/auth/auth.service.ts
  apps/nestjs-backend/src/common/decorators/validate-header/types/header-decorator.param.type.ts
  apps/nestjs-backend/src/common/decorators/validate-header/validate-header.decorator.ts
  apps/nestjs-backend/src/email/email.service.ts
  apps/nestjs-backend/src/email/types/accepted-languages.enum.ts
  apps/nestjs-backend/src/users/users.controller.ts
  apps/nestjs-backend/src/users/users.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/forgot-password.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/login-credentials.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/register.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/reset-password.service.ts
Due: npm run format, npm run lint:fix

fix(Set up internationalization #182): fix e2e test
  apps/nextjs-frontend/tests/reset-password.e2e.spec.ts
  apps/nextjs-frontend/tests/utils/register/register.ts
Due: npm run format, npm run lint:fix

fix(fix BE unit tests #196): fix unit tests
  apps/nestjs-backend/src/auth/auth.controller.spec.ts
  apps/nestjs-backend/src/auth/auth.service.spec.ts
  apps/nestjs-backend/src/email/email.service.spec.ts
  apps/nestjs-backend/src/users/users.controller.spec.ts
  apps/nestjs-backend/src/users/users.controller.ts
  apps/nestjs-backend/src/users/users.service.spec.ts
Due: npm run format, npm run lint:fix

fix(fix BE unit tests #196): tests for internationalized emails
  apps/nestjs-backend/src/email/email.service.spec.ts
Due: npm run format, npm run lint:fix

fix(Set up internationalization #182): import paths
  apps/nestjs-backend/src/auth/auth.service.ts
  apps/nestjs-backend/src/users/users.service.ts
Due: npm run format, npm run lint:fix

chore(Set up internationalization #182): remove required header decorator
  apps/nestjs-backend/src/common/decorators/required-header.decorator.ts
Due: npm run format, npm run lint:fix

docs: add i18n to readme
  README.md
Due: npm run format

docs: update FE readme
  apps/nextjs-frontend/README.md
Due: npm run format

docs: add i18n to readme (#198)
  README.md
Due: npm run format

docs: update FE readme (#199)
  apps/nextjs-frontend/README.md
Due: npm run format

ci: rename unit test scripts
  .github/workflows/test-unit-coverage.yml
  .github/workflows/test-unit.yml
  apps/nestjs-backend/package.json
  package.json
  turbo.json
Due: npm run format

ci: cleanup workflows
  .github/workflows/build-docker-images.yml
  .github/workflows/builld.yml
  .github/workflows/git.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/lint.yml
  .github/workflows/quality.yml
  .github/workflows/test-unit-coverage.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Due: none

ci: test adding truffleHog
  .github/workflows/quality.yml
Due: none

ci: add trufflehog
  .github/workflows/quality.yml
Due: none

ci: add codeql
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: none

ci: update codeql version
  .github/workflows/quality.yml
Due: none

ci: adjust trufflehog config
  .github/workflows/quality.yml
Due: none

ci: add CodeQL
  .github/workflows/quality.yml
Due: none

ci: rename action
  .github/workflows/quality.yml
Due: none

ci: add permissions to actions
  .github/workflows/build.yml
  .github/workflows/git.yml
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: none

ci: rename unit test scripts (#202)
  .github/workflows/build-docker-images.yml
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/git.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/lint.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test.yml
  apps/nestjs-backend/package.json
  package.json
  turbo.json
Due: npm run format

ci(Set explicit action version for truffleHog #203): set v3 as version
  .github/workflows/quality.yml
Due: none

ci: set explicit trufflehog version
  .github/workflows/quality.yml
Due: none

ci: try with trufflehog patch version
  .github/workflows/quality.yml
Due: none

ci(Set explicit action version for truffleHog #203): set v3 as version (#204)
  .github/workflows/quality.yml
Due: none

chore: setting explicit versions in docker-compose for dev infrastructure
  apps/nestjs-backend/docker-compose.yml
Due: none

chore: setting explicit versions in docker-compose for dev infrastruc… (#205)
  apps/nestjs-backend/docker-compose.yml
Due: none

chore(Update backend .env.example #210): fix example env file
  apps/nestjs-backend/.env.example
Due: none

chore(Update backend .env.example #210): fix example env file (#211)
  apps/nestjs-backend/.env.example
Due: none

refactor: introduce shared package
  apps/nestjs-backend/package.json
  apps/nextjs-frontend/package.json
  package-lock.json
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
Due: npm run format, npm run lint:fix

chore: add linting to shared package
  apps/nextjs-frontend/xo.config.ts
  package-lock.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  packages/shared/xo.config.ts
Due: npm run format, npm run lint:fix

refactor: move user dto to shared package
  apps/nestjs-backend/src/auth/auth.service.ts
  apps/nestjs-backend/src/users/dto/user.dto.ts
  apps/nestjs-backend/src/users/entities/user.entity.ts
  apps/nestjs-backend/src/users/users.controller.ts
  apps/nestjs-backend/src/users/users.service.ts
  packages/shared/src/dto/user.dto.ts
  packages/shared/src/index.ts
  packages/shared/src/types/user-status.enum.ts
Due: npm run format, npm run lint:fix

chore: update turbo scripts
  turbo.json
Due: npm run format
