Repository robertlinde/next-nest-turbo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, prettier --write

ci(FE Playwright tests #74): adjust playwright action
  .github/workflows/test-test-cov.yml
  apps/nextjs-frontend/.github/workflows/playwright.yml
  apps/nextjs-frontend/playwright.config.ts
  apps/nextjs-frontend/tests/example.spec.ts
Due: xo --fix, prettier --write

ci(FE Playwright tests #74): fix scripts
  apps/nextjs-frontend/package.json
  package.json
Due: prettier --write

ci(FE Playwright tests #74): fix actions
  .github/workflows/test-test-cov.yml
  apps/nestjs-backend/package.json
  apps/nextjs-frontend/playwright.config.ts
  turbo.json
Due: xo --fix, prettier --write

ci(FE Playwright tests #74): set CI to true for playwright
  .github/workflows/test-test-cov.yml
Due: none

test(FE Playwright tests #74): adjust playwright config to run in ci and locally
  apps/nextjs-frontend/playwright.config.ts
  apps/nextjs-frontend/tests/example.spec.ts
Due: xo --fix, prettier --write

ci(Split actions into own files #80): split actions
  .github/workflows/build.yml
  .github/workflows/commitlint-lint-build.yml
  .github/workflows/commitlint.yml
  .github/workflows/lint.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test.yml
Due: none

ci(Split actions into own files #80): rename test
  .github/workflows/test-e2e.yml
Due: none

chore: remove renovate assignee
  renovate.json
Due: prettier --write

ci(FE Playwright tests #74): adjust ci to run backend and db
  .github/workflows/test-e2e.yml
Due: none

ci(FE Playwright tests #74): adjust endpoint for health checks
  .github/workflows/test-e2e.yml
Due: none

ci(FE Playwright tests #74): adjust pipeline
  .github/workflows/test-e2e.yml
Due: none

ci(FE Playwright tests #74): adjust ci config
  .github/workflows/test-e2e.yml
Due: none

ci(FE Playwright tests #74): improved ci status messages
  .github/workflows/test-e2e.yml
Due: none

feat(Add maildev #85): set up maildev
  apps/nestjs-backend/.env.example
  apps/nestjs-backend/docker-compose.yml
  apps/nestjs-backend/src/config/app.config.ts
  apps/nestjs-backend/src/config/config-key.enum.ts
  apps/nestjs-backend/src/config/validation-schema.ts
  apps/nestjs-backend/src/email/email.module.ts
  apps/nestjs-backend/src/email/email.service.ts
Due: xo --fix, prettier --write

fix(Add maildev #85): adjust minor settings
  apps/nestjs-backend/nest-cli.json
  apps/nestjs-backend/src/email/email.service.spec.ts
  apps/nestjs-backend/src/email/email.service.ts
  apps/nestjs-backend/src/email/templates/request-password-reset.hbs
  apps/nestjs-backend/src/users/users.service.spec.ts
  apps/nestjs-backend/src/users/users.service.ts
Due: xo --fix, prettier --write

ci: add maildev to ci
  .github/workflows/test-e2e.yml
Due: none

ci: fix config
  .github/workflows/test-e2e.yml
  apps/nestjs-backend/src/config/validation-schema.ts
Due: xo --fix, prettier --write

ci: set config prop to forbidden
  apps/nestjs-backend/src/config/validation-schema.ts
Due: xo --fix, prettier --write

ci: add maildev to e2e test action
  .github/workflows/test-e2e.yml
  apps/nestjs-backend/src/config/validation-schema.ts
Due: xo --fix, prettier --write

ci: dont run husky in ci
  .github/workflows/test-e2e.yml
Due: none

ci: disable husky
  .github/workflows/test-e2e.yml
Due: none

ci: change NODE_ENV to development
  .github/workflows/test-e2e.yml
Due: none

ci: remove unused variables
  .github/workflows/test-e2e.yml
Due: none

test(FE Playwright tests #74): dont use password and user for mail locally
  apps/nestjs-backend/.env.example
  apps/nestjs-backend/docker-compose.yml
Due: none

test(FE Playwright tests #74): test fetching emails
  apps/nextjs-frontend/tests/example.spec.ts
Due: xo --fix, prettier --write

test(FE Playwright tests #74): test user registration flow
  .github/workflows/test-e2e.yml
  apps/nestjs-backend/docker-compose.yml
  apps/nextjs-frontend/.env.example
  apps/nextjs-frontend/package.json
  apps/nextjs-frontend/playwright.config.ts
  apps/nextjs-frontend/src/app/(auth)/register/page.tsx
  apps/nextjs-frontend/tests/example.spec.ts
  apps/nextjs-frontend/tests/register.e2e.spec.ts
  package-lock.json
Due: xo --fix, prettier --write

fix: use correct error
  apps/nextjs-frontend/src/app/(auth)/register/page.tsx
Due: xo --fix, prettier --write

fix: variable typo
  apps/nextjs-frontend/tests/register.e2e.spec.ts
Due: xo --fix, prettier --write

test: remove static timeouts
  apps/nextjs-frontend/tests/register.e2e.spec.ts
Due: xo --fix, prettier --write

test: add cases for duplicate email and username
  apps/nextjs-frontend/tests/register.e2e.spec.ts
Due: xo --fix, prettier --write

refactor(Move register test into util #95): make register reusable
  apps/nextjs-frontend/tests/register.e2e.spec.ts
  apps/nextjs-frontend/tests/utils/register/register.ts
  apps/nextjs-frontend/tests/utils/register/types/mail-dev-mail.type.ts
  apps/nextjs-frontend/tests/utils/register/types/register-test-user-data.type.ts
Due: xo --fix, prettier --write

refactor(Move register test into util #95): adjust props for register util
  apps/nextjs-frontend/tests/register.e2e.spec.ts
  apps/nextjs-frontend/tests/utils/register/register.ts
Due: xo --fix, prettier --write

test(FE Playwright tests #74): test login
  apps/nextjs-frontend/src/app/(auth)/login/components/LoginCredentials/LoginCredentials.component.tsx
  apps/nextjs-frontend/src/app/(auth)/login/components/LoginTwoFactor/LoginTwoFactor.component.tsx
  apps/nextjs-frontend/tests/login.e2e.spec.ts
  apps/nextjs-frontend/tests/utils/get-maildev-email.ts
  apps/nextjs-frontend/tests/utils/register/register.ts
  apps/nextjs-frontend/tests/utils/register/types/mail-dev-mail.type.ts
Due: xo --fix, prettier --write

test(FE Playwright tests #74): refactor login tests to be reusable
  apps/nextjs-frontend/tests/login.e2e.spec.ts
  apps/nextjs-frontend/tests/utils/login/login.ts
  apps/nextjs-frontend/tests/utils/login/types/login-credentials.type.ts
Due: xo --fix, prettier --write

test(FE Playwright tests #74): add test for logout
  apps/nextjs-frontend/playwright.config.ts
  apps/nextjs-frontend/src/app/profile/page.tsx
  apps/nextjs-frontend/src/components/Header/Header.component.tsx
  apps/nextjs-frontend/tests/logout.e2e.spec.ts
Due: xo --fix, prettier --write

test(FE Playwright tests #74): test reset password flow
  apps/nextjs-frontend/src/app/(auth)/forgot-password/page.tsx
  apps/nextjs-frontend/src/app/(auth)/login/components/LoginCredentials/LoginCredentials.component.tsx
  apps/nextjs-frontend/src/app/(auth)/reset-password/page.tsx
  apps/nextjs-frontend/tests/reset-password.e2e.spec.ts
Due: xo --fix, prettier --write

test(FE Playwright tests #74): test for email and userame edit
  apps/nextjs-frontend/src/app/profile/page.tsx
  apps/nextjs-frontend/tests/edit-profile.e2e.spec.ts
  apps/nextjs-frontend/tests/logout.e2e.spec.ts
Due: xo --fix, prettier --write

test(FE Playwright tests #74): test delete profile
  apps/nextjs-frontend/src/app/profile/page.tsx
  apps/nextjs-frontend/tests/edit-profile.e2e.spec.ts
  apps/nextjs-frontend/tests/utils/login/login.ts
Due: xo --fix, prettier --write

test(FE Playwright tests #74): reset maildev before each test
  apps/nextjs-frontend/tests/edit-profile.e2e.spec.ts
  apps/nextjs-frontend/tests/login.e2e.spec.ts
  apps/nextjs-frontend/tests/logout.e2e.spec.ts
  apps/nextjs-frontend/tests/register.e2e.spec.ts
  apps/nextjs-frontend/tests/reset-password.e2e.spec.ts
  apps/nextjs-frontend/tests/utils/setup.ts
Due: xo --fix, prettier --write

Path conditions:
  xo --fix: any of: **/*.{js,ts,tsx,jsx}
  prettier --write: (any of: **/*.{js,ts,tsx,jsx}) or (any of: **/*.{json,md,css,html})
