Repository robertlinde/next-nest-turbo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix

refactor: auth hook params type
  apps/nextjs-frontend/src/hooks/use-auth-api/types/auth-hook.params.ts
Due: npm run format, npm run lint:fix

refactor: error handling on auth api fail
  apps/nextjs-frontend/src/hooks/use-auth-api/use-auth-api.hook.tsx
Due: npm run format, npm run lint:fix

refactor: return type for load user
  apps/nestjs-backend/xo.config.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/use-auth-api.hook.tsx
  apps/nextjs-frontend/src/store/user/types/load-user.return.type.ts
  apps/nextjs-frontend/src/store/user/types/user-store.state.type.ts
  apps/nextjs-frontend/src/store/user/user.store.ts
  apps/nextjs-frontend/xo.config.ts
Due: npm run format, npm run lint:fix

refactor: adjust params to be object
  apps/nextjs-frontend/src/hooks/use-auth-api/use-auth-api.hook.tsx
Due: npm run format, npm run lint:fix

refactor: rename dto files
  apps/nestjs-backend/src/auth/auth.controller.spec.ts
  apps/nestjs-backend/src/auth/auth.controller.ts
  apps/nestjs-backend/src/auth/decorators/user.decorator.ts
  apps/nestjs-backend/src/auth/dto/login-credentials.body.dto.ts
  apps/nestjs-backend/src/auth/dto/login-two-factor-auth.body.dto.ts
  apps/nestjs-backend/src/auth/jwt.strategy.ts
  apps/nestjs-backend/src/auth/types/active-user-data.type.ts
  apps/nestjs-backend/src/auth/types/active-user.type.ts
  apps/nestjs-backend/src/users/dto/confirm-user.param.dto.ts
  apps/nestjs-backend/src/users/dto/create-user.body.dto.ts
  apps/nestjs-backend/src/users/dto/reset-password-confirm.body.dto.ts
  apps/nestjs-backend/src/users/dto/reset-password-request.body.dto.ts
  apps/nestjs-backend/src/users/dto/update-user.body.dto.ts
  apps/nestjs-backend/src/users/users.controller.spec.ts
  apps/nestjs-backend/src/users/users.controller.ts
Due: npm run format, npm run lint:fix

ci(#75): add dockerfile for nextjs-frontend
  apps/nestjs-backend/package.json
  apps/nextjs-frontend/.dockerignore
  apps/nextjs-frontend/dockerfile
  apps/nextjs-frontend/package.json
  package.json
Due: npm run format

ci(#75): improve docker file performance
  apps/nextjs-frontend/.dockerignore
  apps/nextjs-frontend/dockerfile
Due: none

ci(#75): add scripts for docker
  package.json
  turbo.json
Due: npm run format

ci(#75): add docker build to ci
  .github/workflows/build-docker-images.yml
Due: none

ci(#75): add npm ci to action
  .github/workflows/build-docker-images.yml
Due: none

ci(#75): dockerfile for nestjs-backend
  apps/nestjs-backend/.dockerignore
  apps/nestjs-backend/dockerfile
  apps/nestjs-backend/package.json
Due: npm run format

ci(#75): switch to docker:run:local
  apps/nestjs-backend/package.json
  apps/nextjs-frontend/package.json
  package.json
  turbo.json
Due: npm run format

chore(Rename docker:run:local to docker:start:dev #131): rename docker run scripts
  apps/nestjs-backend/package.json
  apps/nextjs-frontend/package.json
  turbo.json
Due: npm run format

chore(Rename backend db start script to make clear its db and mail #134): rename infra scripts
  apps/nestjs-backend/package.json
Due: npm run format

feat(trim inputs #138): trimming all inputs for emails and usernames
  apps/nextjs-frontend/src/app/(auth)/forgot-password/types/forgot-password.schema.ts
  apps/nextjs-frontend/src/app/(auth)/login/components/login-credentials/types/login-credentials.schema.ts
  apps/nextjs-frontend/src/app/(auth)/login/components/login-two-factor/types/login-two-factor.schema.ts
  apps/nextjs-frontend/src/app/(auth)/register/types/register.schema.ts
  apps/nextjs-frontend/src/app/profile/types/profile.schema.ts
Due: npm run format, npm run lint:fix

test: adjust logic
  apps/nestjs-backend/src/common/logger/logger.middleware.ts
Due: npm run format, npm run lint:fix

ci: add pr title linting
  .github/workflows/lint-pr-title.yml
Due: none

chore: fix typo
  .github/workflows/lint-pr-title.yml
Due: none

ci: add pr title linting (#174)
  .github/workflows/lint-pr-title.yml
Due: none

chore: rename job name
  .github/workflows/lint-pr-title.yml
Due: none

chore: rename job name (#176)
  .github/workflows/lint-pr-title.yml
Due: none

ci: add create release workflow
  .github/workflows/release
Due: none

ci: add create release workflow (#177)
  .github/workflows/release
Due: none

fix: set correct file extension
  .github/workflows/release.yml
Due: none

fix: set correct file extension (#178)
  .github/workflows/release.yml
Due: none

fix: set get-next-version action version
  .github/workflows/release.yml
Due: none

fix: set get-next-version action version (#179)
  .github/workflows/release.yml
Due: none

feat(Add footer, imprint and data protection page #181): add basic footer component
  apps/nextjs-frontend/src/app/layout.tsx
  apps/nextjs-frontend/src/components/footer/footer.component.tsx
  apps/nextjs-frontend/src/components/header/header.component.tsx
Due: npm run format, npm run lint:fix

feat(Add footer, imprint and data protection page #181): add basic footer (#183)
  apps/nextjs-frontend/src/app/layout.tsx
  apps/nextjs-frontend/src/components/footer/footer.component.tsx
  apps/nextjs-frontend/src/components/header/header.component.tsx
Due: npm run format, npm run lint:fix

fix(Set up internationalization #182): fix middleware matcher
  apps/nextjs-frontend/src/middleware.ts
Due: npm run format, npm run lint:fix

feat(Set up internationalization #182): translation for footer, header and profile page
  apps/nextjs-frontend/locales/de.json
  apps/nextjs-frontend/locales/en.json
  apps/nextjs-frontend/src/app/[locale]/page.tsx
  apps/nextjs-frontend/src/app/[locale]/profile/page.tsx
  apps/nextjs-frontend/src/components/footer/footer.component.tsx
  apps/nextjs-frontend/src/components/header/header.component.tsx
Due: npm run format, npm run lint:fix

fix(Set up internationalization #182): replace navigation utils with i18n compatible
  apps/nextjs-frontend/src/app/[locale]/(auth)/login/components/login-credentials/login-credentials.component.tsx
  apps/nextjs-frontend/src/app/[locale]/(auth)/login/components/login-two-factor/login-two-factor.component.tsx
  apps/nextjs-frontend/src/app/[locale]/(auth)/register/page.tsx
  apps/nextjs-frontend/src/app/[locale]/(auth)/reset-password/page.tsx
  apps/nextjs-frontend/src/app/[locale]/profile/page.tsx
  apps/nextjs-frontend/src/components/footer/footer.component.tsx
  apps/nextjs-frontend/src/components/header/header.component.tsx
Due: npm run format, npm run lint:fix

feat(Set up internationalization #182): language select option
  apps/nextjs-frontend/locales/de.json
  apps/nextjs-frontend/locales/en.json
  apps/nextjs-frontend/src/components/footer/components/LocaleSelect/locale-select.component.tsx
  apps/nextjs-frontend/src/components/footer/footer.component.tsx
Due: npm run format, npm run lint:fix

feat(Set up internationalization #182): translate login page
  apps/nextjs-frontend/locales/de.json
  apps/nextjs-frontend/locales/en.json
  apps/nextjs-frontend/src/app/[locale]/(auth)/login/components/login-credentials/login-credentials.component.tsx
  apps/nextjs-frontend/src/app/[locale]/(auth)/login/components/login-two-factor/login-two-factor.component.tsx
Due: npm run format, npm run lint:fix

feat(Set up internationalization #182): locales for reset and forgot password pages
  apps/nestjs-backend/src/common/decorators/required-header.decorator.ts
  apps/nextjs-frontend/locales/de.json
  apps/nextjs-frontend/locales/en.json
  apps/nextjs-frontend/src/app/[locale]/(auth)/forgot-password/page.tsx
  apps/nextjs-frontend/src/app/[locale]/(auth)/reset-password/page.tsx
Due: npm run format, npm run lint:fix

feat(Set up internationalization #182): set up locals for register and confirm page
  apps/nextjs-frontend/locales/de.json
  apps/nextjs-frontend/locales/en.json
  apps/nextjs-frontend/src/app/[locale]/(auth)/confirm/page.tsx
  apps/nextjs-frontend/src/app/[locale]/(auth)/register/page.tsx
Due: npm run format, npm run lint:fix

feat(Set up internationalization #182): localized zod errors
  apps/nextjs-frontend/locales/de.json
  apps/nextjs-frontend/locales/en.json
  apps/nextjs-frontend/src/app/[locale]/(auth)/login/components/login-credentials/types/login-credentials.schema.ts
  apps/nextjs-frontend/src/app/[locale]/(auth)/login/components/login-two-factor/types/login-two-factor.schema.ts
  apps/nextjs-frontend/src/app/[locale]/(auth)/register/types/register.schema.ts
  apps/nextjs-frontend/src/app/[locale]/(auth)/reset-password/types/reset-password.schema.ts
  apps/nextjs-frontend/src/app/[locale]/layout.tsx
  apps/nextjs-frontend/src/app/[locale]/profile/types/profile.schema.ts
  apps/nextjs-frontend/src/providers/zod-error/utils/create-zod-error-map-util.ts
  apps/nextjs-frontend/src/providers/zod-error/zod-error.provider.tsx
Due: npm run format, npm run lint:fix

fix(Set up internationalization #182): fix linter errors
  apps/nextjs-frontend/locales/de.json
  apps/nextjs-frontend/locales/en.json
  apps/nextjs-frontend/src/providers/zod-error/utils/create-zod-error-map-util.ts
  apps/nextjs-frontend/src/providers/zod-error/zod-error.provider.tsx
Due: npm run format, npm run lint:fix

chore(For concatenation use zod templates #191): use zod templates
  apps/nextjs-frontend/locales/de.json
  apps/nextjs-frontend/locales/en.json
  apps/nextjs-frontend/src/app/[locale]/profile/page.tsx
  apps/nextjs-frontend/src/components/header/header.component.tsx
Due: npm run format, npm run lint:fix

Path conditions:
  npm run format: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,css,html})
  npm run lint:fix: any of: *.{js,ts,tsx}
